<!DOCTYPE html>
<html>

<head>
    <%- include('./layout/head'); %>

</head>

<body>

    <%- include('./layout/header'); %>
        <main role="main">

            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Car</h1>

                </div>
            </div>


            <div class="container" style="text-align: center;">
                <div class="row">
                    <%products.forEach(function(product) { %>
                        <%- include('product-one', {product: product}); %>
                            <% }); %>
                </div>
            </div>
        </main>
</body>
<script>
    var soluong = 0;
    var somon = 0;
    var danhsachGioHang = {};

    function add_to_cart(maMon, tenMon) {
        alert("Bạn vừa mua một chiếc xe vào CART " + "\n" + maMon + "\n" + tenMon);
        danhsachGioHang[maMon] = (danhsachGioHang[maMon] | 0) + 1;
        soluong++;
        somon = Object.keys(danhsachGioHang).length;
        pt = document.getElementById("somonhang");
        pt.textContent = "" + somon + "," + soluong;
        console.log(danhsachGioHang);
    }
</script>

</html>